<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">	
	<style>
		body {
			background-color: red
		}
	</style>

		<title>Eat Da Burgers</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>